{% extends 'base.html.twig' %}

{% block title %}SubCategory index{% endblock %}

{% block body %}
    <h1>SubCategory index</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sub_category in sub_categories %}
            <tr>
                <td>{{ sub_category.id }}</td>
                <td>{{ sub_category.name }}</td>
                <td>{{ sub_category.deletedAt ? sub_category.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('sub_category_show', {'id': sub_category.id}) }}"><i class="eye icon"></i></a>
                    <a href="{{ path('sub_category_edit', {'id': sub_category.id}) }}"><i class="edit icon"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sub_category_new') }}">Create new</a>
{% endblock %}
