{% extends 'base.html.twig' %}

{% block title %}Stock index{% endblock %}

{% block body %}
    <h1>Stock index</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.quantity }}</td>
                <td>{{ stock.updatedAt ? stock.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('stock_show', {'id': stock.id}) }}"><i class="eye icon"></i></a>
                    <a href="{{ path('stock_edit', {'id': stock.id}) }}"><i class="edit icon"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('stock_new') }}">Create new</a>
{% endblock %}
